*{
	margin: 0 auto
}

.container{
	width: 800px;
	padding: 10px
}

/*----------------------------COMUN-----------*/
h4,h2{
	padding: 30px 0 20px 0;
	text-align: center;
}

img{
	width: 100%
}

/*---------------------------HEADER-----------*/
header{
	background-color: #F2F2F2;
	}


header ul{
	list-style: none;
}
header li{
	display: inline-block;
	margin-right: 20px;
	
}
header li a{
	color: #808080
}
header .ham{width: 30px;
	 }
.main-navigation{
	position: absolute;
	display: block;
}	 
header  #main-navigation
{
	z-index: 1;
	position: absolute;
	right: 10px;
	margin: 10px 0 0 0;
}
header #main-navigation ul
{
	background: #F2F2F2;
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
header button{
	border: 1px solid #F2F2F2;
	padding: 0
	}
/*-----------------------------HERO-----------*/

.hero h1{
	color: white}

section.hero {
	background:url(../img/home.jpg); 
}
section.hero .central{
	margin:200px 0 150px 0;
	text-align: center;
}
/*------------------------DOCUMENTAL-----------*/
.documental{
	margin-bottom: 30px
}
iframe{
	width: 90%;
	height: 400px;
	margin-left: 5%
}
.documental h2{
	margin: 70px 0 40px 0
}
/*------------------------HACKATHON-----------*/

section.hackaton .container{
	background-color: yellow;
	
}

/*-------------------------CONTACTO-----------*/

section.contacto .row{
	margin-bottom: 50px
}

section.contacto input{
	width: 90%;
	margin-bottom: 10px;
	padding: 3px;
	border-radius: 4px

}
section.contacto .img-contact{
	margin-top: 50px
}


.contacto h3{
	text-align: left;
	padding-left:20px 
}
.contacto button{
	padding: 8px;
	font-size: 14px
}
.mensaje{width: 90%}
.area{width: 100%}
/*--------------------------FOOTER-----------*/
footer{
	background-color: #81DAF5;
	padding-left: 50px;
	padding: 30px;
	color: white;
	
}
footer span{
	color: yellow
}

/*--------------------MEDIA QUERIES-----------*/



@media screen and(max-width: 992px) {
	.container{width: 800px;margin: 0}
	.documental{margin-bottom: 0}
	section.hero .central {margin: 100px;}
	section.contacto input{width: 100%}

	
}

@media screen and (max-width : 768px) {
	.container{width: 390px;margin: 0}
	.documental h2{margin: 30px 0px;}
	section.hero .central{margin: 40px 0px}
	header #main-navigation ul{width: 100px}
	.hero .central h1{font-size: 33px}
	.documental h2{font-size: 29px}
}